#nav-collapsible {
	background-image: url("https://raw.githubusercontent.com/papertek/CyDJ/beta/images/themes/firework/firework.gif");
	background-repeat: repeat;
	background-size: 10%;
	background-position: center;
	background-attachment: fixed;
	color: #d5e8ff;
}
